<% newAlbums.forEach(album => { %>
# <%= album.name %> 
## By: <%= album.artists.map(artist => `[${artist.name}](${artist.external_urls.spotify})`).join(', ') %>

<table style="width: 100%;">
    <thead>
        <tr>
        <th>Release Date</th>
        <th>Type</th>
        <th>Tracks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><%= album.release_date %></td>
        <td><%= album.album_type %></td>
        <td><%= album.total_tracks %></td>
        </tr>
    </tbody>
</table>

<br>

<a href="<%= album.external_urls.spotify %>" target="_blank">
    <img src="<%= album.images[0].url %>" style="width: 100%; height: auto;">
</a>

---
<% }) %>
